h1,p{
    color:blueviolet;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    background-color: blue;
}
.paragraph{
    color:yellowgreen;
    
}
#style_p{
    color:chocolate;
}
div>p{
    color:aquamarine;
    font-weight: bold;
}